<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384717752386-hsatdatccbqtcp1u88d7biaei8dj72s3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384717752386-hsatdatccbqtcp1u88d7biaei8dj72s3</string>
	<key>API_KEY</key>
	<string>AIzaSyARLCc-EJ85xRP1gJb5ZJsreCDoMTpcl9A</string>
	<key>GCM_SENDER_ID</key>
	<string>384717752386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fileUploadFirestorage</string>
	<key>PROJECT_ID</key>
	<string>file-upload-462ce</string>
	<key>STORAGE_BUCKET</key>
	<string>file-upload-462ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384717752386:ios:ccd2799c39cb53ab4c45db</string>
</dict>
</plist>